doctype

title Cori Tanck - Interior Designer
meta(name="description" content="Cori Tanck - Interior Designer")
link(rel="stylesheet" type="text/css" href="/css/slick.css")
link(rel="stylesheet" type="text/css" href="/css/slick-theme.css")
link(rel="stylesheet", href="css/index.css", type="text/css")
link(href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css')
link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css')

body


  header
   h1 Cori Tanck
   h2 Interior Designer


  nav
    li nav 1
    li nav 2


  section
    h2 What Am I?

  section.center.slider
        div
          img(src='http://placehold.it/350x300?text=1')
        div
          img(src='http://placehold.it/350x300?text=2')
        div
          img(src='http://placehold.it/350x300?text=3')
        div
          img(src='http://placehold.it/350x300?text=4')
        div
          img(src='http://placehold.it/350x300?text=5')
        div
          img(src='http://placehold.it/350x300?text=6')

  footer
    li footer 1
    li footer 2


  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(src="./js/vendor/slick.min.js")
  script(src="./js/index.js")
  script.
    $(document).on('ready', function() {
      initSlider();
    });










